$field-focus: #026488;

.field {
  margin-bottom: $gutter !important;
}

.field-checkbox {
  margin-bottom: $gutter / 2;

  .field-label {
    display: inline-block;
  }
}

.field-label {
  @include font(17, 600);
  display: block;
  padding: 0;
}

.field-helptext {
  @include font(13, 400);
  display: block;
  padding: 8px 0 0;
}

.field-select {
  margin-bottom: 0;

  select {
    @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);
    @include font(13, 400);
    display: block;
    border: 1px solid #ccc;
    border-radius: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    background-color: #fff;
    background-image: none;
    padding: 6px 12px;
    width: 100%;
    height: 34px;
    color: $light-black;
  }
}

.field-multiselect {
  select {
    outline: none;
    padding: 5px;
    width: 100%;
  }
}

.field-text {
  @include font(18);
  @include transition(box-shadow .25s);
  outline: none;
  border: 1px solid $base-border;
  box-shadow: none;
  background: #fff;
  padding: 5px;
  width: 100%;
  color: $base-heading;

  &:focus {
    border-color: $field-focus;
  }

  &:-webkit-autofill {
    box-shadow: inset 0 0 0 100px $white;
    color: $base-heading;

    &:focus {
      border-color: $field-focus;
    }
  }
}

.field-multicheckbox {
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  li {
    @include font(14);
    display: inline-block;
    margin: 0 rem(10) .5rem 0;
  }
}

textarea {
  min-height: 150px;
}

.field-fileUpload {
  @include font(14);
  position: relative;
  color: $base-type;
}

//
//  Pretty Image Uploads
//
.field-image-name {
  @include font(18);
  @include transition(box-shadow .25s);
  position: relative;
  margin-bottom: .75rem;
  outline: none;
  border: 1px solid $base-border;
  border-radius: 3px;
  box-shadow: none;
  background: #fff;
  padding: 5px 10px;
  width: 100%;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: $base-type;

  &.has-value {
    padding-left: rem(80);

    .field-image-current { opacity: 1; }
  }

  &.has-error {
    border-color: $red;
    padding: .25rem .5rem;
    color: $red;
  }
}

.field-image-current {
  @include border-left-radius(3px);
  @include display(flex);
  @include align-items(center);
  @include transition(opacity .35s);
  @include font(10, 700);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  border-right: 1px solid $base-border;
  background-color: $white;
  padding: 5px 10px;
  text-transform: uppercase;
}

.field-imageRemove {
  @include font(13, 400, 1, $base-font-btn);
  float: right;
  padding-top: 10px;
  text-align: right;
}

.field-imageLabel {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn--small;
  position: relative;

  &:hover {
    cursor: pointer;
  }

  input {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;

    &:hover { cursor: pointer; }
  }
}

.field-imageUpload-title { margin: 0; }
.field-fileUpload-remove { float: right; }

.field-imageUpload-remove,
.field-fileUpload-remove {
  margin-bottom: .5rem;
  text-transform: uppercase;
  font-size: rem(10);
}

.field-uploadButton {
  position: absolute;
  right: 0;
  bottom: 0;
}

.field-fileHidden {
  position: absolute;
  left: -9999px;
}

//
// Field Modifications
//
.field--required {
  .field-label::after {
    color: $red;
    content: '*';
  }
}

.field--error {
  .field-label { color: $red; }

  .field-text {
    border-color: $red;

    &:focus {
      border-color: $red;
      box-shadow: 0 2px $red;
    }
  }
}

.field--valid {
  .field-text {
    border-color: $green;
    box-shadow: 0 1px $green;

    &:focus {
      border-color: $field-focus;
      box-shadow: 0 2px $field-focus;
    }
  }
}

.field--hidden { display: none; }

.field--hideLabel {
  label { display: none; }
}

.field--hideHelp {
  .field-helptext { display: none; }
}


@include media($mobile) {
  .field:last-child {
    margin-bottom: $gutter !important;
  }

  .field-image {
    img { margin: .5rem auto; }
  }

  .field-imageThumb { text-align: center; }
  .field-image-options { margin-left: 0; }
}

@include breakpoint(tablet) {
  .field-imageThumb {
    float: left;
    width: 150px;
  }

  .field-image-options {
    &.has-image { margin-left: 175px; }
  }
}
