//- mixin category-card(img, title, links)
//-   .card.card-category
//-     .image
//-       img(src=img)
//-     .content
//-       .author
//-         h4.title= title
//-       ul.description
//-         li
//-           a(href="/product-list.html") View All
//-         if links
//-           for link in links
//-             li
//-               a(href="/product-list.html")= link
