# OS FILES ============================================================
.DS_Store
.DS_Store?
.AppleDouble
.LSOverride
Desktop.ini

## THUMBNAILS
._*
ehthumbs.db
Thumbs.db

## EXTERNAL DISKS
.Spotlight-V100
.Trashes

## TEMP FILES
*.swo
*.swp
*.tmp
*~
.vimcache

## PACKAGES
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip


# DEPENDENCIES ========================================================
node_modules/
bower_components/


# BUILD FILES =========================================================
.sass-cache/
prototype/
cookiecutter/media/
cookiecutter/static_collected/


# PYTHON/CMS ==========================================================
*.py[cod]
*.egg*
local_dev.py
local_production.py

celerybeat-schedule
tags
sources/

## SPHINX DOCS
build

## LOGS & DATABASES
*.log
*.sql
*.sqlite
*.db


# DOCKER ==============================================================
build/frontend/src
