{% comment %}
  SVG icon sprite snippet.

  @param icon  {String} ID reference to icon in spritesheet.
  @param title {String} Title of icon, optional; used for screenreaders.
  @param class {String} Additional class value, optional.
{% endcomment %}
<svg class="icon icon--{{ icon }}{% if class %} {{ class }}{% endif %}"{% if not title %} aria-hidden="true" role="presentation"{% endif %}>
  {% if title %}<title>{{ title }}</title>{% endif %}
  <use xlink:href="#icon-{{ icon }}"{% if title %} aria-hidden="true" role="presentation"{% endif %}></use>
</svg>
