.u-textcenter { text-align: center; }
.u-textleft { text-align: left; }
.u-textright { text-align: right; }
.u-hidden { display: none; }

// A responsive-ready video/iframe embed functionality.
// Ripped straight from Zurb's Foundation.
.u-embed {
  position: relative;
  margin-top: rem(10);
  margin-bottom: .88889rem;
  padding-bottom: 67.5%;
  height: 0;
  overflow: hidden;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.u-embed--widescreen { padding-bottom: 56.34%; }
.u-embed--vimeo { padding-top: 0; }

// Make it easy to see where we're missing content. Use like this:
// <p><span class="missing-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In convallis posuere erat. Curabitur ac orci dapibus, aliquam mauris vel, ullamcorper leo.</span></p>
.u-missing {
  display: inline;
  position: relative;
  left: .25em;
  box-shadow: .25em 0 0 #fff600, -.25em 0 0 #fff600;
  background: #fff600;
  padding: .25em .25em .25em 0;
  color: #000;
}
