//
// Default Alert Styling
//
$alert-bg : $white;

.alert {
  position: relative;
  margin: 0 0 1rem;
  border: thin solid transparent;
  background: $alert-bg;
  padding: 22px;
  text-align: center;
}

.alert-text {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: remcalc(18);
}

.alert-link {
  font-weight: bold;
}

.alert--tiny {
  padding: 11px;

  .alert-text {
    font-size: remcalc(12);
    font-weight: bold;
    font-style: italic;
  }
}

//
// FLASH MESSAGES
//
.alert--flash {
  display: block;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  z-index: $z-messages;
  margin: 0 auto;
  padding: 2rem 0;
  width: 50%;
  min-width: 300px;
  text-align: center;
  color: #fff;

  &--enter {
    @include mui-animation(
      fade(0, 100%),
      hinge($state: in, $from: bottom));
  }

  &--exit {
    @include mui-animation(
      fade(100%, 0),
      hinge($state: out, $from: bottom));
  }
}


//
// INFO
//
$alert-bg--info        : #d9edf7;
$alert-color--info     : #31708f;
$alert-border--info    : darken($alert-bg--info, 20%);

.alert--info {
  border-color: $alert-border--info;
  background: $alert-bg--info;
  text-align: left;

  .alert-text,
  .alert-close,
  li {
    color: $alert-color--info;
  }
}


//
// SUCCESS
//
$alert-bg--success     : #dff0d8;
$alert-color--success  : #3c763d;
$alert-border--success : darken($alert-bg--success, 20%);

.alert--success {
  border-color: $alert-border--success;
  background: $alert-bg--success;

  .alert-text,
  .alert-close,
  li {
    color: $alert-color--success;
  }
}

//
// ERRORS
//
$alert-bg--error       : #f2dede;
$alert-color--error    : #a94442;
$alert-border--error   : darken($alert-bg--error, 20%);

.alert--error {
  border-color: $alert-border--error;
  background: $alert-bg--error;

  .alert-text,
  .alert-close,
  li {
    color: $alert-color--error;
  }
}


//
// WARNING
//
$alert-bg--warning        : #fcf8e3;
$alert-color--warning     : #8a6d3b;
$alert-border--warning    : darken($alert-bg--warning, 20%);

.alert--warning {
  border-color: $alert-border--warning;
  background: $alert-bg--warning;
  text-align: left;

  .alert-text,
  .alert-close,
  li {
    color: $alert-color--warning;
  }
}
