.imageblock {
  img {
    display: block;
    margin: 0;
    border-radius: 3px;
  }

  &.wrap-left,
  &.wrap-right {
    margin: 1rem auto;
  }

  &.full {
    margin: 2em 30px;
    width: auto;
    max-width: none;
  }

  .imageblock-caption {
    margin: 0;
    border-bottom: 1px solid $base-border;
    padding: rem(15) 0;
    width: 100%;
    max-width: none;
    color: $body-font-color;
  }
}

@include breakpoint(medium) {
  .imageblock {
    &.wrap-left,
    &.wrap-right {
    margin: 2rem;
      width: 40%;
    }

    &.wrap-left {
      float: left;
      margin-left: 0;
    }

    &.wrap-right {
      float: right;
      margin-right: 0;
    }

    &.full {
      margin: 2em 30px;
      width: auto;
      max-width: none;
    }
  }
}
