$color:      #fff;
$size:       30px;
$speed:      .75s;
$thickness:  8px; // Odd numbers created a "wobble" effect.

@keyframes rotate-forever {
  0% {
  transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

.loader {
  &.is-loading::after {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    animation-name: rotate-forever;
    animation-duration: $speed;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    opacity: .5;
    margin: -14px 0 0 -14px;
    border: $thickness solid $color;
    border-radius: 50%;
    border-right-color: transparent;
    width: $size;
    height: $size;
    content: '';
  }
}
