//
// Custom mixins.
//

//
// Fluid type sizing.
//
@mixin fluid-type($properties, $min-vw, $max-vw, $min-value, $max-value) {
  @each $property in $properties {
    #{$property}: $min-value;
  }

  @media screen and (min-width: $min-vw) {
    @each $property in $properties {
      #{$property}: calc(#{$min-value} + #{_strip-units($max-value - $min-value)} * (100vw - #{$min-vw}) / #{_strip-units($max-vw - $min-vw)});
    }
  }

  @media screen and (min-width: $max-vw) {
    @each $property in $properties {
      #{$property}: $max-value;
    }
  }
}




//
// Truncate text.
//
// Make text-blocks create long, non-breaking strings as
// ellipsis overflow instead of breaking the layout.
//
@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
