// Name:            Align
// Description:     Utilities to align embedded content
//
// Component:       `uk-align-left-*`
//                  `uk-align-right-*`
//                  `uk-align-center`
//
// ========================================================================


// Variables
// ========================================================================

$align-margin-horizontal:                        $global-gutter !default;
$align-margin-vertical:                          $global-gutter !default;

$align-margin-horizontal-l:                      $global-medium-gutter !default;
