// Name:            Background
// Description:     Utilities for backgrounds
//
// Component:       `uk-background-*`
//
// ========================================================================


// Variables
// ========================================================================

$background-default-background:                  $global-background !default;
$background-muted-background:                    $global-muted-background !default;
$background-primary-background:                  $global-primary-background !default;
$background-secondary-background:                $global-secondary-background !default;
