// Name:            Close
// Description:     Component to create a close button
//
// Component:       `uk-close`
//
// ========================================================================


// Variables
// ========================================================================

$close-color:                                    $global-muted-color !default;
$close-hover-color:                              $global-color !default;


// Inverse
// ========================================================================

$inverse-close-color:                            $inverse-global-muted-color !default;
$inverse-close-hover-color:                      $inverse-global-color !default;

