// Name:            Iconnav
// Description:     Component to create icon navigations
//
// Component:       `uk-iconnav`
//
// Modifier:        `uk-iconnav-vertical`
//
// States:          `uk-active`
//
// ========================================================================


// Variables
// ========================================================================

$iconnav-margin-horizontal:                       $global-small-margin !default;
$iconnav-margin-vertical:                         $iconnav-margin-horizontal !default;

$iconnav-item-color:                              $global-muted-color !default;

$iconnav-item-hover-color:                        $global-color !default;

$iconnav-item-active-color:                       $global-color !default;


// Inverse
// ========================================================================

$inverse-iconnav-item-color:                $inverse-global-muted-color !default;
$inverse-iconnav-item-hover-color:          $inverse-global-color !default;
$inverse-iconnav-item-active-color:         $inverse-global-color !default;
