// Name:            Link
// Description:     Styles for links
//
// Component:       `uk-link-muted`
//                  `uk-link-text`
//                  `uk-link-reset`
//
// ========================================================================


// Variables
// ========================================================================

$link-muted-color:                               $global-muted-color !default;
$link-muted-hover-color:                         $global-color !default;

$link-text-hover-color:                          $global-muted-color !default;


// Inverse
// ========================================================================

$inverse-link-muted-color:                         $inverse-global-muted-color !default;
$inverse-link-muted-hover-color:                   $inverse-global-color !default;
$inverse-link-text-hover-color:                    $inverse-global-muted-color !default;

