$global-radius: 0;
$global-flexbox: false;
$print-transparent-backgrounds: true;


// Global Adjustments
// ---------------------
html {
  // Make sure everything is set to border-box sizing now.
  box-sizing: border-box;
  // Changes the default tap highlight to be completely transparent in iOS.
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

input,
button,
select,
textarea {
  // Remove all `margin`s so our classes don't have to do it themselves.
  margin: 0;
  // iOS adds rounded borders by default
  border-radius: 0;
  // Normalize includes `font: inherit;`, so `font-family`. `font-size`, etc are
  // properly inherited. However, `line-height` isn't addressed there. Using this
  // ensures we don't need to unnecessarily redeclare the global font stack.
  line-height: inherit;
}

textarea {
  // Textareas should really only resize vertically so they don't break their (horizontal) containers.
  resize: vertical;
}

a {
  transition: all .35s;
}

img { max-width: 100%; }

svg {
  transition: all .35s;
  max-width: 100%;
}

// In case someone is on IE8 or lower
.browsehappy {
  margin: .2em 0;
  background: #ccc;
  padding: .2em 0;
  color: #000;
}
