// Brand Colors
// ---------------------


// Default Shades
// ---------------------
$c-black       : #1f2d3d;
$c-steel       : #273444;
$c-slate       : #3c4858;
$c-silver      : #8492a6;
$c-smoke-xdark : #c0ccda;
$c-smoke-dark  : #d3dce6;
$c-smoke       : #e0e6ed;
$c-snow-xdark  : #e5e9f2;
$c-snow-dark   : #eff2f7;
$c-snow        : #f9fafc;
$c-white       : #fff;


// Default Colors
// ---------------------
$c-blue-light   : #85d7ff;
$c-blue         : #1fb6ff;
$c-blue-dark    : #009eeb;
$c-purple-light : #a389f4;
$c-purple       : #7e5bef;
$c-purple-dark  : #592dea;
$c-pink-light   : #ff7ce5;
$c-pink         : #ff49db;
$c-pink-dark    : #ff16d1;
$c-orange-light : #ff9e7c;
$c-orange       : #ff7849;
$c-orange-dark  : #ff5216;
$c-green-light  : #29eb7f;
$c-green        : #13ce66;
$c-green-dark   : #0f9f4f;
$c-yellow-light : #ffd55f;
$c-yellow       : #ffc82c;
$c-yellow-dark  : #f8b700;
$c-red-light    : #ff4949;
$c-red          : #ff4949;
$c-red-dark     : #ff4949;
