include _mixins/_forms
include _mixins/_elements
include _includes/_head

body.l-body
  <!--[if lt IE 9]><p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->

  .uk-offcanvas-content
    include _includes/_site_header

    block content

    include _includes/_site_footer

  include _includes/_scripts

  block scripts

</html>
